.contact-container {
  text-align: center;
}

.social-icons,
.resume-link,
.contact-form {
  margin-bottom: 20px;
}

.social-icons p,
.resume-link p {
  margin-bottom: 10px;
}

.behance-icon,
.linkedin-icon,
.instagram-icon,
.resume-icon {
  font-size: 2rem;
  margin: 0 10px;
}

input {
  height: 36px !important;
}
textarea {
  height: 100px;
}
.send-button {
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #373737;
  border-radius: 30px;
}
.icon-button {
  height: 48px;
  transition: transform 0.3s ease;
}
.icon-Images {
  height: 48px;
}
.icon-button:hover {
  transform: translateY(-2px);
}
