.card {
  width: 320px;
  border: 2px solid #373737;
  padding: 8px 8px 16px 8px;
  border-radius: 12px;
  background-color: #fffeec;
  transition: transform 0.3s ease;
}
.card-img {
  border: 1.5px solid #373737;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.homeowner-img {
  max-width: 101% !important;
  border-color: red !important;
}
.card:hover {
  transform: translateY(-2px);
}
.card-title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 600;
}
.chips-list {
  display: flex;
  flex-wrap: wrap;
  width: 304px;
  gap: 8px; /* Margin between chips and lines */
  margin-bottom: 8px; /* Margin between lines */
}
