/* .work-cards {
  margin-left: 101px;
} */

/* .behance-card {
  width: 320px;
  height: 279px;
  display: flex; 
  align-items: center; /* 
} */
.section-heading {
  font-weight: 600;
}

.behance-card {
  min-height: 354px;
  padding: 20px 20px 28px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
