.work-cards {
  margin-left: 101px;
}

.behance-card {
  width: 320px;
  height: 279px;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Align items vertically */
  /* justify-content: center; Align items horizontally */
}
